<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super-online</title>
    <link rel="stylesheet" href="/css/loginStyles.css">
</head>

<body>
    <h1 class="titulo">¡Qué bueno verte de nuevo por acá! </h1>
    <img src="/happy-svgrepo-com.svg" alt="" style="width:60px">

<div class="contenedor-form">
  <p class="subtitulo">En nuestro super siempre estamos contentos de verte... Te estábamos esperando!</p>
  <form id="form-producto" enctype="multipart/form-data">
    <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required style="font-size: 25px;">
    <input type="email" id="email" name="email" placeholder="E-mail" required style="font-size: 25px;"><br>
    <button type="submit" style="font-size: 25px;">Continuar</button>
  </form>
</div>

<h2>¿No tenés cuenta? Registrate <link rel="stylesheet" href="/register"></h2>
</body>
</html>